<div id="tree" class="treeview"></div>

<script type="text/javascript">
  $(function() {
    var tree = [<%= raw render(partial: 'entities/tree', formats: :json, locals: {entity: entity}) %>];
    $('#tree').treeview({
      data: tree,
      showTags: true,
      enableLinks: true
    });
  });
</script>
