<div id="treeview1" class=""></div>

<script type="text/javascript">
  $(function() {
    var john = [<%= raw entity.to_hash.to_json %>];

    $('#treeview1').treeview({
      data: john
    });
  });
</script>
