p#notice = notice


h3 = @entity.producer.sentence

= link_to 'Edit', edit_entity_path(@entity), class: 'btn btn-xs btn-warning'
'|
= link_to 'Back', entities_path, class: 'btn btn-xs btn-info'
br
strong Parent:
'
= @entity.parent&.name
'
strong Sort order:
'
= @entity.sort_order
'
strong Kind:
'
= @entity.kind
'
strong Desc:
'
= @entity.desc
'
strong Deps:
'
= @entity.deps

= render 'tree', entity: @entity
= render 'child_form', entity: @entity
