pre.highlight {
  background-color: #272b30;
  position: relative;
  margin-bottom: 20px;
  overflow-x: scroll;
  font-size: 16px;
  border: none;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .gh {
  color: #999999;
}
.highlight .sr {
  color: #f6aa11;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .nb {
  color: #f6aa11;
}
.highlight .cm {
  color: #BC9458;
}
.highlight .cp {
  color: #BC9458;
}
.highlight .c1 {
  color: #BC9458;
}
.highlight .cs {
  color: #BC9458;
}
.highlight .c, .highlight .cd {
  color: #BC9458;
}
.highlight .err {
  color: #960050;
}
.highlight .gr {
  color: #960050;
}
.highlight .gt {
  color: #960050;
}
.highlight .gd {
  color: #49483e;
}
.highlight .gi {
  color: #49483e;
}
.highlight .ge {
  color: #49483e;
}
.highlight .kc {
  color: #6D9CBE;
}
.highlight .kd {
  color: #6D9CBE;
}
.highlight .kr {
  color: #6D9CBE;
}
.highlight .no {
  color: #6D9CBE;
}
.highlight .kt {
  color: #6D9CBE;
}
.highlight .mf {
  color: #6E9CBE;
}
.highlight .mh {
  color: #6E9CBE;
}
.highlight .il {
  color: #6E9CBE;
}
.highlight .mi {
  color: #6E9CBE;
}
.highlight .mo {
  color: #6E9CBE;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #6E9CBE;
}
.highlight .sc {
  color: #6E9CBE;
}
.highlight .se {
  color: #6E9CBE;
}
.highlight .ss {
  color: #6E9CBE;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #FFC66D;
}
.highlight .nc {
  color: #FFC66D;
}
.highlight .nd {
  color: #FFC66D;
}
.highlight .ne {
  color: #FFC66D;
}
.highlight .nf {
  color: #FFC66D;
}
.highlight .vc {
  color: #D0D0FF;
}
.highlight .nn {
  color: #D0D0FF;
}
.highlight .nl {
  color: #D0D0FF;
}
.highlight .ni {
  color: #D0D0FF;
}
.highlight .bp {
  color: #D0D0FF;
}
.highlight .vg {
  color: #D0D0FF;
}
.highlight .vi {
  color: #D0D0FF;
}
.highlight .nv {
  color: #D0D0FF;
}
.highlight .w {
  color: #D0D0FF;
}
.highlight {
  color: #D0D0FF;
}
.highlight .n, .highlight .py, .highlight .nx {
  color: #D0D0FF;
}
.highlight .ow {
  color: #CC7833;
}
.highlight .nt {
  color: #CC7833;
}
.highlight .k, .highlight .kv {
  color: #CC7833;
}
.highlight .kn {
  color: #CC7833;
}
.highlight .kp {
  color: #CC7833;
}
.highlight .o {
  color: #CC7833;
}
